PORT=3000
MONGODB_URI=mongodb+srv://user:pass@cluster/podcasthub
MONGODB_TEST_URI=mongodb+srv://user:pass@cluster/podcasthub_test
JWT_SECRET=supersecretkey_min32chars_requerido
JWT_EXPIRES_IN=2h
SLACK_WEBHOOK=tu_slack_incoming_webhook_url
