PORT=3000
DB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/t8_database
JWT_SECRET=tu_clave_secreta_muy_larga_y_segura_32chars
JWT_EXPIRES_IN=2h
SLACK_WEBHOOK=https://hooks.slack.com/services/XXXX/YYYY/ZZZZ
