NODE_ENV=development
PORT=3000
PUBLIC_URL=http://localhost:3000

MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/bildyapp?retryWrites=true&w=majority

JWT_SECRET=<min_32_chars_secret>
JWT_REFRESH_SECRET=<min_32_chars_different_secret>
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
