PORT=3000
DATABASE_URL="postgresql://postgres:[password]@db.[project-ref].supabase.co:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:[password]@db.[project-ref].supabase.co:5432/postgres"
JWT_SECRET=supersecretkey_min32chars_requerido
JWT_EXPIRES_IN=2h
